.addcita-body {
    background-color: rgba(235, 231, 231, 0.8); /* Color de fondo con transparencia */    padding: 1rem;
    width: 200vh;
    min-height: 100vh; /* Para ocupar toda la altura de la página */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding-top: 0px;
}

.edcita-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto; /* Permitir desplazamiento dentro del contenedor si es necesario */
    max-height: 90vh; /* Limitar la altura máxima */

}

.agregar-cita-container {
    max-width: 600px;
    width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto; /* Permitir desplazamiento dentro del contenedor si es necesario */
    max-height: 90vh; /* Limitar la altura máxima */

}

.editar-citas-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    color: #257E9E;
    font-family: 'Jomhuria Slab', serif;
}

.editar-citas-header h2{
    color: #257E9E;
    font-family: 'Jomhuria Slab', serif;
    margin-bottom: 20px;

}

.formadcit{
    background-color: #f0f0f0;
    border: none;
    margin-left: 2rem;
}

.form-table {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.form-group {
    margin-bottom: 5px;
}

.form-group label {
    font-weight: bold;
    color: #000;
    font-family: 'Jomhuria Slab', serif;
}

.form-group input, .form-group select{
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: 'Jomhuria Slab', serif;
}

.form-group input[type="number"] {
    -moz-appearance: textfield; /* Remove spin buttons in Firefox */
}

.form-group input[type="number"]::-webkit-inner-spin-button, 
.form-group input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.header-tit-sub {
    font-weight: bold;
    color: #257E9E;
    font-family: 'Jomhuria Slab', serif;
    align-items: center;
    margin-right: 6.5rem;
    margin-top: -.5rem;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 6rem;
}

.btn-guardar,
.btn-cancelar {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Jomhuria Slab', serif;
}

.btn-guardar {
    background-color: #5f8a99;
    color: white;
    
}

.btn-cancelar {
    background-color: #E1A1A1;
    color: white;
    margin-right: 20rem;
}
#estado{
    font-size: .87rem;
    font-family: 'Jomhuria Slab', serif;
    margin-top: .13rem;
    height: 2rem;
    width: 12.5rem;
    margin-left: .7rem;
}

#pago{
    font-size: .87rem;
    font-family: 'Jomhuria Slab', serif;
    height: 2rem;
    width: 12.5rem;
    margin-left: .7rem;
}
 
#pagado{
    font-size: .87rem;
    font-family: 'Jomhuria Slab', serif;
    margin-top: .13rem;
    height: 2rem;
    width: 12.5rem;
    margin-left: .7rem;
}

#tratamiento{
    font-size: .87rem;
    font-family: 'Jomhuria Slab', serif;
    margin-top: -.10rem;
    height: 2rem;
    width: 12.5rem;
    margin-left: .7rem;
}

.form-group select {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    color: #257E9E;
    font-family: 'Jomhuria Slab', serif;
}

.header h2 {
    font-size: 1.5rem;
    margin: 0;
}
.infocit{
    font-size: .87rem;
    font-family: 'Jomhuria Slab', serif;
    color: #666666;
}