.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    width: 150px; /* Asegura que todas las cartas tengan la misma altura */
    text-decoration: none;
    color: inherit;
}

.card:hover {
    transform: translateY(-5px);
}

.card-icon {
    font-size: 3rem;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.card-title {
    font-size: 1rem;
    margin-bottom: 10px;
}
