.editar-pago-container .button-group .btn-cobrar {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.editar-pago-container .button-group .btn-cobrar:hover {
    background-color: #0056b3;
}
