.viewbody {
    background-color: #EBE7E7; /* Color de fondo */
    padding: 1rem;
    width: 100vw; /* Ajustar el ancho al viewport */
    min-height: 100vh; /* Para ocupar toda la altura de la página */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding-top: 0px;
  }
  
  .medicos-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 0 20px;
  }
  
  .medicos-view {
    width: 85%;
    max-width: 1200px; /* Limitar el ancho máximo */
    background-color: #ffffff; /* Fondo blanco para el contenido */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    padding: 20px;
    margin-top: .5rem; /* Espaciado superior */
  }
  
  .medicos-view h1 {
    font-size: 2rem; /* Tamaño de fuente mayor */
    margin-bottom: 2rem; /* Espaciado inferior */
    color: #0a0a0a; /* Color del texto */
    background-color: #A1BEC7; /* Fondo de encabezado */
    padding: 10px;
    border-radius: 4px;
    font-family: 'Josefin Slab', serif; /* Fuente personalizada */
  }
  
  .medicos-count {
    margin-bottom: 1.5rem;
    font-size: 1rem;
    color: #666666;
    font-family: 'Josefin Slab', serif; /* Fuente personalizada */
  }
  
  .search-bar-mv {
    display: flex;
    align-items: center;
    background-color: #D9D9D9;
    border: 1px solid #ced4da;
    border-radius: 6px;
    height: 2rem;
    width: 80%;
  }
  
  .search-bar-mv input {
    padding: 0.35rem;
    border: 1px solid #fffdfd;
    border-radius: 4px;
    margin-left: 0.4rem;
    width: 100%; /* Ajuste para el input */
  }
  
  .search-icon-mv {
    margin-left: 0.5rem;
    color: #fefdfd;
  }
  
  .view-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #EBE7E7;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  }
  
  .view-table th,
  .view-table td {
    padding: 10px;
    border: none;
    text-align: center;
    background-color: #EBE7E7;
  }
  
  .view-table th {
    background-color: #A1BEC7; /* Color de fondo de los encabezados */
    color: rgb(9, 9, 9); /* Color del texto en los encabezados */
    font-family: 'Josefin Slab', serif; /* Fuente personalizada */
  }
  
  .view-table tr:nth-child(even) {
    background-color: #f2f2f2; /* Color de fondo de filas alternas */
    font-family: 'Josefin Slab', serif; /* Fuente personalizada */
    color: #000; /* Color del texto */
  }
  
  .view-table tr:hover {
    background-color: #e2e6ea; /* Color de fondo al pasar el ratón */
  }
  
  .btn-back-me {
    background-color: #92a0a5;
    color: white;
    border: none;
    padding: 10px 20px; /* Botón más grande */
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px; /* Tamaño de fuente del botón */
    font-family: 'Josefin Slab', serif; /* Fuente personalizada */
  }
  