/* src/styles/ReportePacientes.css */
.reporte-doctores-body {
    background-color: #EBE7E7; /* Color de fondo */
    padding: 1rem;
    width: 200vh;
    min-height: 100vh; /* Para ocupar toda la altura de la página */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding-top: 0px;
}
.pacientes-view {
    width: 85%;
    max-width: 1200px; /* Limitar el ancho máximo */
    background-color: #ffffff; /* Fondo blanco para el contenido */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    padding: 20px;
    margin-top: 2rem; /* Espaciado superior */
}

.reporte-doctores-titulo {
    margin-bottom: 2rem;
    font-size: 2rem;
    color: #0a0a0a;
    background-color: #A1BEC7;
    font-family: 'Josefin Slab', serif;
    width: 100%;
}

.reporte-fecha {
    margin-bottom: 1.5rem;
    font-size: 1rem;
    margin-left: 55rem;
    color: #666666;
    margin-top: -1.0005rem;
    font-family: 'Josefin Slab', serif;
}

.reporte-doctores-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.reporte-doctores-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #EBE7E7;
   /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
    overflow: hidden;
    align-items: center;
    justify-content: space-between;

}

.reporte-doctores-table th,
.reporte-doctores-table td {
    padding: 10px;
    border: none;
    text-align: center;
    background-color: #EBE7E7;

}

.reporte-doctores-table th {
    background-color: #A1BEC7;
    color: rgb(9, 9, 9);
    font-family: 'Josefin Slab', serif;

}

.reporte-doctores-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
    font-family: 'Josefin Slab', serif;
    color: #000;

}
